
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    bodyback: #da5b5b;
    sectionback :#cdccce;
}
 *{
    margin: 0;
    padding 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

 }


 body{
    background-color: var(--bodyBack);
    min-height: 100vh;
    display:grid;
    place-items: center;
 }
 .container{
     width: 80vw;
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
 .header{
    width:100%;
    text-align:center;
 }

 .header h2{
    font-size: 4em;
    text-transform: uppercase;
    color: var(--textcolor);
 }

 .products{
    width:  100%;
    height:  70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
 }
 .product{
    position: relative;
    background-color: var(--sectionBack);
    width: 400px;
    height: 600px;
    box-shadow: 50px 50px 60px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px 20px 40px;
    border-radius: 30px;
    transition: .3s;
 }
 .image{
    width: 100%;
    height: 60%;
    display:grid;
    place-items: center;
 }

 .image img{
    width:100%;
    display:flex;
    justify-content: space-between;
 }
 .namePrice h2{
    font-size: 2em;
    text-transform: capitalize;
    color: var(--textcolor);
 }
.namePrice span{
    font-size: 18px;
    color: var(--sectionBack)
}
.product p{
    font-size: 18px;
    line-height: 25px;
}
 
.buy{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.buy button{
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(112, 141, 153);
    font-size: 18px;
    text-transform:capitalize;
}
button:hover{
    background-color: whitesmoke;
    transition: .5s;
}